*{
  box-sizing: border-box;
  
}

html{
  background-image: url("background2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.login-logo, .register-logo, .post-logo, .logout-logo{
  font-weight: 700;
  background-color: white;
  border-radius: 5px;
}



img{
  max-width: 100%;
}
main{
  padding: 10px;
  max-width: 700px;
  margin: 0 auto;
}

header{
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  margin-top: 20px;
  align-items: center;
}

header a{
  text-decoration: none;
  color: inherit;
}

header a.logo{
  font-weight: bold;
  font-size: 1.5rem;
}

header nav{
  display: flex;
  gap: 20px;
}

.post{
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  margin-bottom: 30px;
  border-color: #0e0000;
  border: solid;
  background-color: white;
}

@media screen and (min-width: 700px) {
  div.post{
    grid-template-columns: 0.9fr 1.1fr;
  }
}
.post .texts h1{
  margin: 0;
  font-size: 1.8rem;
  
}
div.post div.texts a{
  text-decoration: none;
  color: inherit;
}

.post .texts{
  display: inline;
  align-items: flex-start;
}

.post img{
  height: 100%;
  object-fit: contain;
  display: flex;
  justify-content: flex-start;
}
.author{
  display: block;
}
.post .info{
  margin: 6px 0;
  color: #888;
  font-size: .7rem;
  font-weight: bold;
  display: flex;
  gap: 10px;
}

.post .info .author{
  color: #222;
}

.post .summary{
  margin: 10px 0;
  line-height: 1.4rem;
}

form.login, form.register{
  max-width: 400px;
  margin: 0 auto;
}

input{
  margin-bottom: 5px;
  display: block;
  width: 100%;

  padding: 5px 7px;
  border: 2px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
}

button{
  cursor: pointer;
  width: 100%;
  display: block;
  background-color: #555;
  border: 0;
  color: #fff;
  border-radius: 5px;
  padding: 7px 0;
}

form.login h1,form.register h1{
  text-align: center;
}

div.post-page{
  width: 623.2px;
}
div.post-page div.image{
  max-height: 300px;
  display: flex;
  overflow: hidden;
  /* justify-content: center; */
  /* max-width: 100%; */
}

div.post-page div.image img{
  object-fit: cover;
  object-position: center center; 
  width: 100%;
  margin: 10px 0 5px;
}

div.post-page p img{
  margin-left: 170px;
}

div.post-page a{
  color: #333;
  text-decoration: underline;
}

div.post-page time{
  text-align: center;
  display: block;
  font-size: .7rem;
  color: #aaa;
}

div.post-page div.author{
  text-align: center;
  margin-bottom: 20px;
  font-size: .7rem;
  font-weight: bold;
}

div.post-page div.content p{
  line-height: 1.5rem;
}

div.edit-row{
  text-align: center;
  margin-bottom: 20px;
}

div.post-page a.edit-btn{
  background-color: #333;
  display: inline-flex;
  align-items: center;
  gap: 5px;
  color: #fff;
  padding: 15px 30px;
  border-radius: 5px;
  
  text-decoration: none;
}

a svg{
  height: 20px;
}

a{
  cursor: pointer;
}






main .form-main{
  display: flex;
  align-items: center;
  justify-content: center;
}







.form-container {
  width: 600px;
  background: linear-gradient(#212121, #212121) padding-box,
              linear-gradient(145deg, transparent 35%,#e81cff, #40c9ff) border-box;
  border: 2px solid transparent;
  padding: 32px 24px;
  font-size: 14px;
  font-family: inherit;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
  border-radius: 16px;
  background-size: 200% 100%;
  animation: gradient 5s ease infinite;
  height: 400px;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.form-container button:active {
  scale: 0.95;
}

.form-container .form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-container .form-group {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.form-container .form-group label {
  display: block;
  margin-bottom: 5px;
  color: #717171;
  font-weight: 600;
  font-size: 12px;
}

.form-container .form-group input {
  width: 300px;
  padding: 12px 16px;
  border-radius: 8px;
  color: #fff;
  font-family: inherit;
  background-color: transparent;
  border: 1px solid #414141;
}

.form-container .form-group textarea {
  width: 300px;
  padding: 12px 16px;
  border-radius: 8px;
  resize: none;
  color: #fff;
  height: 96px;
  border: 1px solid #414141;
  background-color: transparent;
  font-family: inherit;
}

.form-container .form-group input::placeholder {
  opacity: 0.5;
}

.form-container .form-group input:focus {
  outline: none;
  border-color: #e81cff;
}

.form-container .form-group textarea:focus {
  outline: none;
  border-color: #e81cff;
}

.form-container .form-submit-btn {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  align-self: flex-start;
  font-family: inherit;
  color: #717171;
  font-weight: 600;
  width: 40%;
  background: #313131;
  border: 1px solid #414141;
  padding: 12px 16px;
  font-size: inherit;
  gap: 8px;
  margin-top: 8px;
  cursor: pointer;
  border-radius: 6px;
}

.form-container .form-submit-btn:hover {
  background-color: #fff;
  border-color: #fff;
}



